
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-9">
    <META HTTP-EQUIV="Content-language" CONTENT="tr">
    <title>SaticiBazAyri_ilk20</title>
</head>
<body>
    @Html.Raw(@ViewData["tumHtml"])
</body>
</html>
