@using Reporting.Entities.Model;
@using System.Net.Http;
@using System.Web.Http;
@using DevExtreme.AspNet.Data;
@using DevExtreme.AspNet.Mvc;
@using System.Globalization;


@*@{Layout = null;}*@


<!doctype html>
<html ng-app ng-csp>
<head>
    <title>Satış Adetleri (Aylık) </title>

    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-9">
    <META HTTP-EQUIV="Content-language" CONTENT="tr">

 
    @*<link href="~/Content/Table_Responsive_v2/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Table_Responsive_v2/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/Table_Responsive_v2/vendor/select2/select2.min.css" rel="stylesheet" />*@
    <link href="~/StylePivotGrid/StylePivotGrid.css" rel="stylesheet" />
    @*<link href="~/Content/Table_Responsive_v2/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/Table_Responsive_v2/css/util.css" rel="stylesheet" />
    <link href="~/Content/Table_Responsive_v2/css/main.css" rel="stylesheet" />*@

</head>



<body>


  
 


    @Html.Raw(@ViewData["tumHtml"])










    @*<!--===============================================================================================-->
    <script src="~/Content/Table_Responsive_v2/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Table_Responsive_v2/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Table_Responsive_v2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Table_Responsive_v2/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->*@
 

 
 

</body>



</html>


